{% extends "base.html" %}
{% load static %}
{% block body_class %}template-industrydirectionspage{% endblock %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
  
  <div class="main-wrapper">
        <div class="main-banner-container h-auto" id="bannerblk">

            <!-- <img src="assets/Images/banner.png"> -->
            <div class="content-block position-relative">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="{% static 'assets/img/portfolio/fullsize/logo.png' %}"></a>
                        <button class="navbar-toggler" data-toggle="collapse" href="#navbarNavDropdown" role="button"
                            aria-expanded="false" aria-controls="navbarNavDropdown">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse multi-collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav web">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Industry Directions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="about.html"> About Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="operations-management-system.html">xPort Operations Management System</a>
                                        <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                      </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">
                                    <button class="btn btn-primary">
                                        Contact Us
                                    </button>
                                </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav mobile">
                                <button class="close-icon" data-toggle="collapse" href="#navbarNavDropdown"
                                    role="button" aria-expanded="false" aria-controls="navbarNavDropdown">
                                    <img src="assets/Images/close-white.png">
                                </button>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Industry Directions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="about.html"> About Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="operations-management-system.html">xPort Operations Management System</a>
                                        <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                      </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">
                                    <button class="btn btn-primary">
                                        Contact Us
                                    </button>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <header class="main_h">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <a class="navbar-brand" href="#"><img src="assets/Images/logo.png"></a>
                                <button class="navbar-toggler" data-toggle="collapse" href="#navbarNavDropdown1"
                                    role="button" aria-expanded="false" aria-controls="navbarNavDropdown1">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse multi-collapse navbar-collapse" id="navbarNavDropdown1">
                                    <ul class="navbar-nav web">
                                        <li class="nav-item">
                                            <a class="nav-link" href="index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Industry Directions</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="about.html"> About Us</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="operations-management-system.html">xPort Operations Management System</a>
                                                <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                              </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact.html">
                                            <button class="btn btn-primary">
                                                Contact Us
                                            </button>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </header>
                </div>
                {% image page.image fill-700x200 as image %}
                <div class="app-l-main-headings IndustryDirections-heading-bg" style="background-image:url('{{ image.url }}')"> 
                    <span>{{page.title}}
                    </span>
                </div>
            </div>
        </div>
        <div class="app-l-static-pages app-l-about-us mb-5">
            <div class="container-main-xport">
                <div class="container-fluid p-0 m-0">

                    <section class="app-l-about-us">
                        <div class="container">
                            <h1>{{page.body_title}}</h1>
                            <div class="row">
                                <div class="col-lg-7">
                                    <p>{{page.body_text_1|safe}}
                                    </p>
                                </div>
                                <div class="col-lg-5">
                                    {% image page.body_image max-900x700 %}
                                   
                                </div>
                                <div class="col-lg-12 mb-45">
                                    <p>{{page.body_text_2|safe}}

                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                 
                    <div class="header-bg-bottom">
                        <div class="container">
                            <div class="row align-items-end mb-5">
                                <div class="col-12">
                                    <h3 class="margin-text">{{page.chart_title}}</h3>
                                </div>
                                <div class="col-12 col-lg-7 order-1 order-md-12">
                                    <div class="app-l-shipgrowth-block">
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1968</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="130" height="21" viewBox="0 0 130 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H115V17.3654C115 14.4577 117.329 13.0577 118.913 12.5192C119.705 12.25 120.101 12.1154 124.06 12.1154C129.208 12.1154 130 8.48077 130 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H115V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#ECEAE1" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Encounter Bay</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">1,530 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1972</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="130" height="21" viewBox="0 0 130 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H115V17.3654C115 14.4577 117.329 13.0577 118.913 12.5192C119.705 12.25 120.101 12.1154 124.06 12.1154C129.208 12.1154 130 8.48077 130 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H115V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Hamburg Express</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">2,950 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1980</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="130" height="21" viewBox="0 0 130 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H115V17.3654C115 14.4577 117.329 13.0577 118.913 12.5192C119.705 12.25 120.101 12.1154 124.06 12.1154C129.208 12.1154 130 8.48077 130 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H115V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Neptune Garnet</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">4,100 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1984</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="130" height="21" viewBox="0 0 130 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H115V17.3654C115 14.4577 117.329 13.0577 118.913 12.5192C119.705 12.25 120.101 12.1154 124.06 12.1154C129.208 12.1154 130 8.48077 130 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H115V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">American New York</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">4,600 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1996</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="130" height="21" viewBox="0 0 130 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H115V17.3654C115 14.4577 117.329 13.0577 118.913 12.5192C119.705 12.25 120.101 12.1154 124.06 12.1154C129.208 12.1154 130 8.48077 130 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H115V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Regina Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">6,400 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1997</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="140" height="21" viewBox="0 0 140 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H125V17.3654C125 14.4577 127.329 13.0577 128.913 12.5192C129.705 12.25 130.101 12.1154 134.06 12.1154C139.208 12.1154 140 8.48077 140 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H125V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Susan Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">8,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">1997</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="140" height="21" viewBox="0 0 140 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H125V17.3654C125 14.4577 127.329 13.0577 128.913 12.5192C129.705 12.25 130.101 12.1154 134.06 12.1154C139.208 12.1154 140 8.48077 140 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H125V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Susan Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">8,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2002</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="160" height="21" viewBox="0 0 160 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H145V17.3654C145 14.4577 147.329 13.0577 148.913 12.5192C149.705 12.25 150.101 12.1154 154.06 12.1154C159.208 12.1154 160 8.48077 160 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path opacity="0.16" d="M14 17H145V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Charlotte Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">8,890 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2003</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="170" height="21" viewBox="0 0 170 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H155V17.3654C155 14.4577 157.329 13.0577 158.913 12.5192C159.705 12.25 160.101 12.1154 164.06 12.1154C169.208 12.1154 170 8.48077 170 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H155V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Anna Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">9,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2005</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="182" height="21" viewBox="0 0 182 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H167V17.3654C167 14.4577 169.329 13.0577 170.913 12.5192C171.705 12.25 172.101 12.1154 176.06 12.1154C181.208 12.1154 182 8.48077 182 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H167V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Gjertrud Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">10,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2006</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="196" height="21" viewBox="0 0 196 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H181V17.3654C181 14.4577 183.329 13.0577 184.913 12.5192C185.705 12.25 186.101 12.1154 190.06 12.1154C195.208 12.1154 196 8.48077 196 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H181V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="166" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Emma Maersk</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">11,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2012</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="210" height="21" viewBox="0 0 210 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H195V17.3654C195 14.4577 197.329 13.0577 198.913 12.5192C199.705 12.25 200.101 12.1154 204.06 12.1154C209.208 12.1154 210 8.48077 210 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H195V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16779 29.4498 3.16779H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="166" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="180" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Marco Polo (CMA CGM)</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">16,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2013</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="224" height="21" viewBox="0 0 224 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H209V17.3654C209 14.4577 211.329 13.0577 212.913 12.5192C213.705 12.25 214.101 12.1154 218.06 12.1154C223.208 12.1154 224 8.48077 224 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H209V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="166" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="180" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="194" width="12" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">Maersk Mc-Kinney Møller</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">18,270 teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2014/2015</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="237" height="21" viewBox="0 0 237 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H222V17.3654C222 14.4577 224.329 13.0577 225.913 12.5192C226.705 12.25 227.101 12.1154 231.06 12.1154C236.208 12.1154 237 8.48077 237 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H222V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="166" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="180" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="194" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="207" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">CSCL Globe/MSC Oscar</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">19,000+ teu</div>
                                            </div>
                                        </div>
                                        <div class="border-dm">
                                            <div class="d-flex bd-highlight">
                                                <div class="p-1 bd-highlight blue-text">2018</div>
                                                <div class="p-1 flex-grow-1 bd-highlight bd-highlight-img-block">
                                                    <svg width="250" height="21" viewBox="0 0 250 21" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M34.4497 0H0C2.50783 1.61538 7.84027 5.08846 10.6913 7.67308C13.5423 10.2577 13.8591 13.7308 13.8591 15.75V21H235V17.3654C235 14.4577 237.329 13.0577 238.913 12.5192C239.705 12.25 240.101 12.1154 244.06 12.1154C249.208 12.1154 250 8.48077 250 6.46154H42.7651L34.4497 0Z"
                                                            fill="#70638B" />
                                                        <path d="M14 17H235V21H14V17Z" fill="#877E9E" />
                                                        <path
                                                            d="M-6.73145 -3.16779H34.4498V-1.83221C34.4498 0.929209 32.2112 3.16778 29.4498 3.16778H-6.73145V-3.16779Z"
                                                            fill="#C4C4C4" />
                                                        <rect x="43" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="57" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="71" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="84" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="98" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="112" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="125" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="139" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="153" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="166" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="180" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="194" width="12" height="6" fill="#CF5D5A" />
                                                        <rect x="207" width="13" height="6" fill="#CF5D5A" />
                                                        <rect x="221" width="13" height="6" fill="#CF5D5A" />
                                                    </svg>
                                                </div>
                                                <div class="p-1 bd-highlight white-text">??????</div>
                                                <div class="p-1 bd-highlight yellow-text  text-right">22,000 teu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 order-12 text-center app-position-inherit">
                                    <figure class="app-objective-img ship-growth-img-block">{% image page.chart_image fill-500x400-c500 %}</figure>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid p-0 m-0">
                        <div class="container-half-bg light-grey">
                            <div class="container">
                                <div class="card-box-bottom mb-60">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 order-1 order-md-12 mb-4">
                                            {% image page.card_image fill-600x300 %}
                                        </div>
                                        <div class="col-12 col-lg-6 order-1 order-md-12 mb-4">
                                            <h3 class="card-text mb-3">{{page.card_title}}</h3>
                                            <p>{{page.card_text|safe}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% for item in page.point.all %}
                                    <div class="row app-l-industry-goals">
                                        <div class="col-12 col-lg-2 text-center">
                                            {% image item.point_image max-100x150 %}
                                        </div>
                                        <div class="col-12 col-lg-10 align-items-center">
                                            <h4>{{item.point_title}}</h4>
                                            <p>{{item.point_text}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <h1>{{page.base_title}}</h1>                    
                        <p>{{page.base_text|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
   

