{% extends "base.html" %}
{% load static %}
{% block body_class %}template-operationsmanagementpage{% endblock %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

<div class="main-wrapper">
    <div class="main-banner-container main-inner-banner-container" id="bannerblk">
        <div class="content-block position-relative">
            <div class="container">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="{%static 'assets/img/portfolio/fullsize/logo.png' %}"></a>
                        <button class="navbar-toggler" data-toggle="collapse" href="#navbarNavDropdown"
                            role="button" aria-expanded="false" aria-controls="navbarNavDropdown">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse multi-collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav web">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Industry-directions.html">Industry Directions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="about.html"> About Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">xPort Operations Management System</a>
                                        <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                      </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">
                                    <button class="btn btn-primary">
                                        Contact Us
                                    </button>
                                </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav mobile">
                                <button class="close-icon" data-toggle="collapse" href="#navbarNavDropdown"
                                    role="button" aria-expanded="false" aria-controls="navbarNavDropdown">
                                    <img src="assets/Images/close-white.png">
                                </button>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Industry-directions.html">Industry Directions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="about.html"> About Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">xPort Operations Management System</a>
                                        <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                      </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">
                                    <button class="btn btn-primary">
                                        Contact Us
                                    </button>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <header class="main_h">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <a class="navbar-brand" href="#"><img src="assets/Images/logo.png"></a>
                                <button class="navbar-toggler" data-toggle="collapse" href="#navbarNavDropdown1"
                                    role="button" aria-expanded="false" aria-controls="navbarNavDropdown1">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse multi-collapse navbar-collapse" id="navbarNavDropdown1">
                                    <ul class="navbar-nav web">
                                        <li class="nav-item">
                                            <a class="nav-link" href="index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="Industry-directions.html">Industry Directions</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="about.html"> About Us</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">xPort Operations Management System</a>
                                                <a class="dropdown-item" href="maritime-single-window.html">xPort Maritime Single Window</a>
                                              </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="consultants-partners.html">Consultants & Partners</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact.html">
                                            <button class="btn btn-primary">
                                                Contact Us
                                            </button>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </header>
                </div>
            </div>
            
            {% image page.operations_image max-5000x2000 as image %}    
            <div class="app-l-main-headings xport-bg app-l-main--headings" style="background-image:url('{{ image.url }}')">
            </div>
        </div>
    </div>
    <div class="container_sub">
        <div class="app-l-xport-heading-content-block">
            <span>
                <h1>{{page.operations_title}}</h1>
                <h2>{{page.title}}</h2>
            </span>
            <div class="app-l-sub-content">
                {{page.operations_text|safe}}
            </div>
        </div>
    </div>
    <section class="app-l-static-content-block">
        <div class="container_sub">
            {% for item in page.management_field.all %}
            <div class="row mb-56">        
                <div class="col-lg-6">
                    <h1>{{item.title}}</h1>
                    <p>{{item.content}}</p>
                </div>
                <div class="col-lg-6">
                    {% image item.pic max-900x700 %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    
    
</div>

{% endblock content %}