{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

    <div class="main-wrapper">
        <div class="main-banner-container" id="bannerblk">
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    
                    <div class="carousel-item active" data-interval="10000">
                        {% image page.image max-1420x700 %}
                    </div>
                </div>
            </div>
        <div class="content-block">
                <div class="container">
                    <div class="banner-caption-holder">
                        <div class="banner-caption">
                            <h1>{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
        </div>  

        </div>
       
        <!-- Vision and mission-->
        <section class="mission-block" id="content">
            <div class="container mission-block-container">
                <div class="mission-block-child">
                    <div class="row">
                        <div class="col-md-6 pt-24 pl-0 pl-15-sm pr-5">
                            <div class="media">
                                <figure class="figure text-center">{% image page.vision_image fill-200x200-c100 %}</figure>
                               
                                <div class="media-body">
                                  <h5 class="mt-0">{{page.vision_title}}</h5>
                                  <p>{{page.vision_text|safe}}</p>
                                </div>
                              </div>
                        </div>
                        
                        <div class="col-md-6 pt-45 pt-32-xs">
                            <h5 class="mt-0">{{page.mission_title}}</h5>
                            {% for missions in page.missions.all%}
                                <p><span class="app-mission-block-point-item">{% image page.mission_list_label fill-320x240 %}<span class="ml-3">{{missions.mission}}</span> </span></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Objectives Section-->
        {% image page.objectives_background_image max-5000x800 as objectives_background_image %}
        <section class="industry-block" id="industry" style="background-image:url('{{ objectives_background_image.url }}')">
            <div class="container">
                <h4 class="main-title">{{page.objectives_title}}</h4>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            {% for item in page.objectives.all %}
                                <div class="col-md-6 pr-5">
                                    <div class="media">
                                        <div class="media-img">{%image item.objective_image max-100x100 %}</div>
                                        <div class="media-body">
                                            <p>{{item.objective_text}}</p>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 app-position-inherit">
                        <div class="app-objective-img"> {% image page.objectives_side_image fill-2600x2200 %}</div></div>
                    </div>
                </div>
            
        </section>
        <!-- USP Section-->
        {% if page.usps%}
            <section class="our-usp-block" id="service">
                <div class="container">
                    <div class="app-our-usp-block-container">
                        <div class="app-our-usp-left-block">
                            
                            <h4>{{page.usp_title}}</h4>
                            <ul>
                                {% for item in page.usps.all %} 
                                    <li>{{item.usp}}</li>
                                {%endfor%}
                            </ul>
                            {% if page.contact_us_button_text%}
                                <button class="btn btn-primary">
                                    {{page.contact_us_button_text}}
                                    {%if page.image_inside_contact_us_button%}
                                        {% image page.image_inside_contact_us_button max-100x100 %}
                                    {% endif %}    
                                </button>
                            {%endif%}    
                        </div>
                        {% if page.usp_side_image %} 
                            <div class="app-our-usp-right-block">
                                {% image page.usp_side_image max-1200x1200 %}
                            </div>
                        {%endif%}
                    </div>
                </div>
            </section>
        {%endif%} 
        <section class="support-block">
            <div class="container">
                <div class="app-support-block-container">
                    {%image page.primary_support_item_image max-1500x1500 as primary_support_image%}
                    <div class="app-support-block-item primary" style="background-image:url('{{ primary_support_image.url }}')">
                        {% if page.brochure_list %}
                            {%for item in page.brochure_list.all %}
                                <div class="media">
                                    {%if page.download_image_for_brochure%}
                                        <span class="download-arrow-img-holder">{% image page.download_image_for_brochure fill-200x200%}</span>
                                    {%endif%}
                                    <div class="media-body">
                                        {% if page.download_text_with_brochure %}
                                            <h5 class="mt-0">{{page.download_text_with_brochure }} </h5>
                                        {% endif %}
                                        <p>{{item.brochure_name}}</p>
                                    </div>
                                </div>
                            {%endfor%}    
                        {%endif%}
                    </div>
                    {% image page.background_image_of_support max-1200x1200 as support_bg_image %}
                    <div class="app-support-block-item secondary" style="background-image:url('{{ support_bg_image.url }}')">
                        <h3>24X7 Support</h3>
                        <h6>With our focus on making ports most efficient with xPort® and xPort MSW, we offer product-led consulting, product sales and ongoing support for any port stakeholder 24X7, all year round.</h6>
                    </div>
                                       
                    <div class="app-support-block-item tertiary">
                        <div class="contact-holder">
                            <h4>{{ page.contact_us_title }}</h4>
                            <h2 class="contact-head">{{ self.intro|richtext }}</h2>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        
                                        <input type="{{ field.field.widget.input_type }}" class="form-control"
                                                name="{{ field.name }}" id="{{ field.id_for_label }}" 
                                                {% if field.field.required %}required="required"{% endif %}
                                                placeholder="{{ field.help_text }}">
                                        {% comment %}you might want form field for textarea or select etc. just make conditions for those {% endcomment %}
                                    </div>
                               {% endfor %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#successModal" type="button">Send Now</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}       
