{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div style="padding-top: 120px; background-color: rgba(43, 33, 81, 0.93); width: 100vw; height: 90vh;">
    <div class="row" style="background-color: white; height: 50vw;">
        <div style="padding-bottom: 200px; padding-top: 15%;
        padding-left: 103px; ">
            <h1 style="text-shadow: rgba(43, 33, 81, 0.93); color:#FFBA03">Thankyou. Your response has been submitted successfully</h1>
        </div>
    </div>
</div>
{% endblock %}