{% load static wagtailuserbar %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>XPort</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/portfolio/fullsize/logo.png' %}" />
        
        <script src="https://use.fontawesome.com/85bc8d989b.js"></script>
        <script src="{% static 'js/XPort.js' %}"></script>
        <link href="{% static 'css/XPort.css' %}" rel="stylesheet" />
        <script>
            // Trigger CSS animations on scroll.
            // Detailed explanation can be found at http://www.bram.us/2013/11/20/scroll-animations/
    
            // Looking for a version that also reverses the animation when
            // elements scroll below the fold again?
            // --> Check https://codepen.io/bramus/pen/vKpjNP
    
            jQuery(function ($) {
    
                // Function which adds the 'animated' class to any '.animatable' in view
                var doAnimations = function () {
    
                    // Calc current offset and get all animatables
                    var offset = $(window).scrollTop() + $(window).height(),
                        $animatables = $('.animatable');
    
                    // Unbind scroll handler if we have no animatables
                    if ($animatables.length == 0) {
                        $(window).off('scroll', doAnimations);
                    }
    
                    // Check all animatables and animate them if necessary
                    $animatables.each(function (i) {
                        var $animatable = $(this);
                        if (($animatable.offset().top + $animatable.height() - 20) < offset) {
                            $animatable.removeClass('animatable').addClass('animated');
                        }
                    });
    
                };
    
                // Hook doAnimations on scroll, and trigger a scroll
                $(window).on('scroll', doAnimations);
                $(window).trigger('scroll');
    
            });
        </script>
    </head>
    <body>
        <div>
            {% include "include/header.html" %}
        <div>
        {% for item in navigation.menu_items.all %}
            <a href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
        {% endfor %}
        {% block content %}
        
        {% endblock content %}
        <footer>
            {% include "include/footer_with_global_site_settings.html" %}
        </footer>
    </body> 
  </html>   
